.bolding{
    font-size: 24px;
    font-weight: 800;
    color: green;
    margin: 10px;
    padding: 20px;
    border: 2px solid blue;
}

a {
  /* this removes the line under our links */
  text-decoration: none;
  color: black;
}

body{
  display: flex;
  flex-direction: column;
}

h1{
  margin-right: auto;
  margin-left: 20px;
}

header {   
  display: flex;
  justify-content: space-around;
  background-color: cornflowerblue;
  color: white;
}

.right-items {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-right: 20px;
}

contents1{
  display: flex;
  
}
img{
  border: 2px solid black;

}

contents2{
  display: flex;

}

.lasagna {
  display: flex;
  width: 218px;
  border: 2px solid black;
  background: #FF6747;
  margin: 16px auto;
  padding: 91px 0px 91px 0px;
  display: block;
  text-align: center;
}

.spicychicken {
  display: flex;
  width: 218px;
  border: 2px solid black;
  background: #FFAB47;
  margin: 16px auto;
  padding: 91px 0px 91px 0px;
  display: block;
  text-align: center;
}

.buffalomac {
  display: flex;
  width: 218px;
  border: 2px solid black;
  background: #FFFF66;
  margin: 16px auto;
  padding: 91px 0px 91px 0px;
  display: block;
  text-align: center;
}

.cheesecake {
  display: flex;
  width: 218px;
  border: 2px solid black;
  background: lightgreen;
  margin: 16px auto;
  padding: 91px 0px 91px 0px;
  display: block;
  text-align: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: cornflowerblue;
}
